<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<body>
{% block body %}
<h4>Collectify</h4>
    <div class="col-lg-offset-1 col-lg10">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
        {% image '@AppBundle/img/hourglass.gif' %}
        <img id="wait" src="{{ asset_url }}" alt="wait" />
        {% endimage %}
    </div>

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
<script>
    document.getElementById("form_has_driver_license").onclick = function(){
        var car = document.getElementById("form_car_id");
        var color = document.getElementById("form_color_id");
        var toogle = document.getElementById('form_has_driver_license');
        var car_label = document.getElementById("model-label");
        var color_label = document.getElementById("color-label");
        if(toogle.checked==true){
            car.style.visibility = 'visible';
            color.style.visibility = 'visible';
            car_label.style.visibility = 'visible';
            color_label.style.visibility = 'visible';
        }
        else{
            car.style.visibility = 'hidden';
            color.style.visibility = 'hidden';
            car_label.style.visibility = 'hidden';
            color_label.style.visibility = 'hidden';
        }
    };


</script>

<script type="text/javascript">
    function populateColor(){
        var car_name = $('#form_car_id option:selected').text();
        //console.log(car_name);
        console.log("{{ path('get_color') }}");
        $.ajax({
            url: "{{ path('get_color') }}",
            type: 'GET',
            data: {'car_name': car_name},
            dataType: 'json',
            success: function(json){
                console.log(json)
                $('#form_color_id').html('');
                $.each(json, function(index, value) {
                    $('#form_color_id').append('<option class="custom-option" value="'+ index.valueOf() +'">'+ value.name +'</option>');
                });
            }
        });
    }

    jQuery("#form_car_id").click(function () {
        var select = document.getElementById("form_color_id");
        var length = select.options.length;
        for (i = 0; i < length; i++) {
            console.log(i);
            select.options[i] = null;
        }
        populateColor();
    });

</script>

<script>
    $("#form_save").click(function(e) {
        e.preventDefault();
        var wait = document.getElementById('wait');
        wait.style.visibility = 'visible';
        var url = "{{ path('validate_form') }}"; // the script where you handle the form input.
        console.log(url);
        var last_name = $("#form_lastname").val();
        var first_name = $("#form_firstname").val();
        //var date_of_birth = $("#form_date_of_birth option:selected").text();
        var month = $("#form_date_of_birth_month option:selected").text();
        var day = $("#form_date_of_birth_day option:selected").text();
        var year = $("#form_date_of_birth_year option:selected").text();
        var has_driver_license = $("#form_has_driver_license").val();
        var car_id = $("#form_car_id option:selected").text();
        var color_id = $("#form_color_id option:selected").text();
        console.log(color_id);

        $.ajax({
            type: "GET",
            url: url,
            data: {'last_name': last_name,
                  'first_name': first_name,
                  //'date_of_birth': date_of_birth,
                  'month': month,
                  'day': day,
                  'year': year,
                  'has_driver_license': has_driver_license,
                  'car_id': car_id,
                  'color_id': color_id},
            //dataType:'json',
            success: function(success)
            {
                wait.style.visibility = 'hidden';
                console.log(success); // show response from the php script.
            },
            error: function(){
                wait.style.visibility = 'hidden';
            }
        });
    });
</script>
<style>
    #form_car_id,#form_color_id, #model-label, #color-label,ul,#wait{
        visibility:hidden;
    }
</style>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>